[submodule "comment-mail-pro"]
	path = comment-mail-pro
	url = https://github.com/websharks/comment-mail-pro
[submodule "comment-mail/submodules/wp-php-rv"]
	path = comment-mail/submodules/wp-php-rv
	url = https://github.com/websharks/wp-php-rv
[submodule "comment-mail/submodules/parsedown"]
	path = comment-mail/submodules/parsedown
	url = https://github.com/erusev/parsedown
[submodule "comment-mail/submodules/sharkicons"]
	path = comment-mail/submodules/sharkicons
	url = https://github.com/websharks/sharkicons
[submodule "comment-mail/submodules/datetimepicker"]
	path = comment-mail/submodules/datetimepicker
	url = https://github.com/xdan/datetimepicker
[submodule "comment-mail/submodules/php-oauth-lib"]
	path = comment-mail/submodules/php-oauth-lib
	url = https://github.com/Lusitanian/PHPoAuthLib
[submodule "comment-mail/submodules/parsedown-extra"]
	path = comment-mail/submodules/parsedown-extra
	url = https://github.com/erusev/parsedown-extra
