/* ------------------------------------------------------------------------------------------------------------
	Other resources; compatible w/ the WP core.
------------------------------------------------------------------------------------------------------------ */
@import url('//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
@import url('../../submodules/sharkicons/styles.min.css');
/* ------------------------------------------------------------------------------------------------------------
	Plugin-specific styles for any menu page area of the dashboard.
------------------------------------------------------------------------------------------------------------ */
/*
A menu page area ~ notifications.
*/
.comment-mail-menu-page-area .pmp-notif-info,
.comment-mail-menu-page-area .pmp-notif-notice,
.comment-mail-menu-page-area .pmp-notif-warning,
.comment-mail-menu-page-area .pmp-notif-error
{
	border-radius : 5px;
	padding       : 12px;
	margin        : 0 0 25px 0;
	box-shadow    : 0 1px 1px 0 rgba(0, 0, 0, .1);
}
.comment-mail-menu-page-area .pmp-notif-info
{
	background : #C9E0FA;
	border     : 1px solid #35558A;
}
.comment-mail-menu-page-area .pmp-notif-notice
{
	background : #FFFBCC;
	border     : 1px solid #E6DB55;
}
.comment-mail-menu-page-area .pmp-notif-warning
{
	background : #FADDAB;
	border     : 1px solid #D29A04;
}
.comment-mail-menu-page-area .pmp-notif-error
{
	background : #FABBC6;
	border     : 1px solid #711E1E;
}
/*
A menu page area ~ list items.
*/
.comment-mail-menu-page-area ul.pmp-list-items,
.comment-mail-menu-page-area ul.pmp-list-items ul
{
	padding-left : 0;
	margin-left  : 40px;
	list-style   : disc;
}
.comment-mail-menu-page-area ul.pmp-list-items ul
{
	list-style : circle;
}
.comment-mail-menu-page-area ul.pmp-list-items li
{
	list-style : inherit;
}
/*
A menu page area ~ clean list items.
*/
.comment-mail-menu-page-area ul.pmp-clean-list-items,
.comment-mail-menu-page-area ul.pmp-clean-list-items ul
{
	padding-left : 0;
	margin-left  : 0;
	list-style   : none;
}
.comment-mail-menu-page-area ul.pmp-clean-list-items ul
{
	margin-left : 20px;
	list-style  : circle;
}
.comment-mail-menu-page-area ul.pmp-clean-list-items li
{
	list-style : inherit;
}
/*
A menu page area ~ post com/sub bubbles.
*/
.comment-mail-menu-page-area .pmp-post-com-count
{
	padding-bottom  : 0;
	text-decoration : none;
}
.comment-mail-menu-page-area .pmp-post-sub-count
{
	border-radius   : 3px;
	text-align      : left;
	text-decoration : none;
	background      : #BBBBBB;
	padding         : 0 5px 0 4px;
	display         : inline-block;
}
.comment-mail-menu-page-area .pmp-post-sub-count::before
{
	text-rendering         : auto;
	font-weight            : normal;
	content                : '\e000';
	color                  : #5A5A5A;
	font-family            : sharkicons;
	-webkit-font-smoothing : antialiased;

	float                  : left;
	margin                 : 0 5px 0 0;
	display                : inline-block;
}
.comment-mail-menu-page-area .pmp-post-sub-count > .pmp-sub-count
{
	font-weight : bold;
	color       : #FFFFFF;
}
.comment-mail-menu-page-area .pmp-post-sub-count:hover
{
	background : #2EA2CC;
}
.comment-mail-menu-page-area .pmp-post-sub-count:hover::before
{
	color : #FFFFFF;
}
/* ------------------------------------------------------------------------------------------------------------
	WP core elements under plugin-specific conditions.
------------------------------------------------------------------------------------------------------------ */
/*
Align w/ menu page.
*/
.comments_page_comment_mail div.updated,
.comments_page_comment_mail div.error
{
	font-size : 120%;
	margin    : 25px 25px 25px 5px;
}
/* ------------------------------------------------------------------------------------------------------------
	Plugin-specific styles for an actual/standard plugin menu page; e.g. options.
------------------------------------------------------------------------------------------------------------ */
/*
Menu page styles.
*/
.comment-mail-menu-page
{
	font-size : 14px;
	min-width : 800px;
	margin    : 25px 25px 25px 5px;
}
.comment-mail-menu-page a
{
	color : #003E75;
}
.comment-mail-menu-page a:hover,
.comment-mail-menu-page a:active
{
	color : #027E02;
}
.comment-mail-menu-page p,
.comment-mail-menu-page code
{
	font-size : inherit;
}
.comment-mail-menu-page p:first-child,
.comment-mail-menu-page pre:first-child
{
	margin-top : 0;
}
.comment-mail-menu-page p:last-child,
.comment-mail-menu-page pre:last-child
{
	margin-bottom : 0;
}
.comment-mail-menu-page code
{
	border-radius : 3px;
	padding       : 1px 5px 1px 5px;
	background    : rgba(255, 255, 255, 0.25);
	font-family   : 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
}
.comment-mail-menu-page pre.pmp-code
{
	padding    : 0;
	background : none;
}
.comment-mail-menu-page pre.pmp-code > code
{
	font-size     : 90%;
	color         : #F7F7F7;
	background    : #2D2D2D;
	overflow-x    : auto;
	max-width     : 100%;

	border-radius : 4px;
	padding       : 10px;
	display       : block;
	box-shadow    : 0 0 2px 1px #000000 inset, 0 0 1px 1px rgba(223, 245, 165, 0.5);
}
.comment-mail-menu-page img
{
	border : 0;
}
.comment-mail-menu-page img.pmp-bordered
{
	border-radius : 4px;
	padding       : 10px;
	background    : #FFFFFF;
	border        : 1px solid #AFAFAF;
	box-shadow    : 0 0 2px 1px #D8D8D8 inset, 0 0 1px 1px rgba(223, 245, 165, 0.5);
}
.comment-mail-menu-page hr
{
	margin : 25px 0 25px 0;
	border : 1px solid #91DD97;
}
.comment-mail-menu-page label
{
	-webkit-user-select : none;
	-moz-user-select    : none;
	user-select         : none;
}
.comment-mail-menu-page select, .comment-mail-menu-page select:focus,
.comment-mail-menu-page textarea, .comment-mail-menu-page textarea:focus,
.comment-mail-menu-page input:not([type='radio']):not([type='checkbox']),
.comment-mail-menu-page input:not([type='radio']):not([type='checkbox']):focus
{
	margin      : 0;
	width       : 100%;
	height      : 2em;

	font-size   : 1em;
	line-height : 1em;
	font-weight : normal;

	box-sizing  : border-box;
}
.comment-mail-menu-page textarea, .comment-mail-menu-page textarea:focus,
.comment-mail-menu-page input:not([type='radio']):not([type='checkbox']),
.comment-mail-menu-page input:not([type='radio']):not([type='checkbox']):focus,
.comment-mail-menu-page /* CodeMirror wrappers. */.cm, .comment-mail-menu-page .cm .CodeMirror
{
	font-size   : 1em; /* Font size again, for CodeMirror too. */
	font-family : 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
}
.comment-mail-menu-page textarea, .comment-mail-menu-page textarea:focus
{
	height      : auto; /* Textareas auto. */
	white-space : pre; /* Preserve whitespace. */
}
.comment-mail-menu-page select, .comment-mail-menu-page select:focus,
.comment-mail-menu-page textarea, .comment-mail-menu-page textarea:focus,
.comment-mail-menu-page input:not([type='radio']):not([type='checkbox']),
.comment-mail-menu-page input:not([type='radio']):not([type='checkbox']):focus,
.comment-mail-menu-page /* CodeMirror wrappers. */.cm
{
	border        : 0;
	padding       : 5px;
	border-radius : 4px;
	box-shadow    : 0 0 1px 1px rgba(37, 47, 26, 0.75) inset, 0 0 1px 1px rgba(223, 245, 165, 0.5);
}
.comment-mail-menu-page select,
.comment-mail-menu-page textarea,
.comment-mail-menu-page input:not([type='radio']):not([type='checkbox'])
{
	color      : #F7F7F7;
	background : #73834B;
}
.comment-mail-menu-page select:focus,
.comment-mail-menu-page textarea:focus,
.comment-mail-menu-page input:not([type='radio']):not([type='checkbox']):focus,
.comment-mail-menu-page /* CodeMirror wrappers. */.cm
{
	background : #637041;
}
.comment-mail-menu-page select.pmp-max-width,
.comment-mail-menu-page textarea.pmp-max-width,
.comment-mail-menu-page input.pmp-max-width:not([type='radio']):not([type='checkbox'])
{
	width     : auto;
	min-width : 400px;
}
.comment-mail-menu-page input::-webkit-input-placeholder
{
	padding-top : 3px;
	font-style  : italic;
	color       : rgba(255, 255, 255, 0.2);
}
.comment-mail-menu-page input::-moz-placeholder
{
	padding-top : 3px;
	font-style  : italic;
	color       : rgba(255, 255, 255, 0.2);
}
.comment-mail-menu-page input:-moz-placeholder
{
	padding-top : 3px;
	font-style  : italic;
	color       : rgba(255, 255, 255, 0.2);
}
.comment-mail-menu-page input:-ms-input-placeholder
{
	padding-top : 3px;
	font-style  : italic;
	color       : rgba(255, 255, 255, 0.2);
}
.comment-mail-menu-page input[disabled],
.comment-mail-menu-page select[disabled],
.comment-mail-menu-page textarea[disabled]
{
	opacity : 0.5;
}
.comment-mail-menu-page table
{
	margin : 1em 0 1em 0;
}
.comment-mail-menu-page button
{
	line-height         : 1em;
	font-size           : 150%;
	font-weight         : bold;
	color               : #FFFFFF;
	background          : #0E4152;

	border-radius       : 4px;
	border              : 1px solid rgba(0, 0, 0, 0.5);
	box-shadow          : 0 1px 1px 0 rgba(0, 0, 0, 0.25),
	-1px -1px 0 0 rgba(0, 0, 0, 0.2) inset,
	1px 1px 0 0 rgba(255, 255, 255, 0.1) inset;

	margin              : 0;
	box-sizing          : border-box;
	padding             : 6px 12px 6px 12px;

	outline             : none;

	cursor              : pointer;
	-webkit-user-select : none;
	-moz-user-select    : none;
	user-select         : none;
}
.comment-mail-menu-page button:hover
{
	background : #0D1F2F;
}
.comment-mail-menu-page button:active
{
	-webkit-transform : scale(0.98, 0.98);
	transform         : scale(0.98, 0.98);
}
.comment-mail-menu-page button[type='submit']:hover
{
	background : #4C6324;
}
.comment-mail-menu-page .pmp-pro-preview
{
	opacity : 0.5;
}
.comment-mail-menu-page .pmp-clearfix:before,
.comment-mail-menu-page .pmp-clearfix:after
{
	display : table;
	content : ' ';
}
.comment-mail-menu-page .pmp-clearfix:after
{
	clear : both;
}
/*
Menu page heading styles.
*/
.comment-mail-menu-page .pmp-heading
{
	padding-bottom : 15px;
	margin-bottom  : 25px;
	border-bottom  : 1px solid #CCCCCC;
	position       : relative;
}
.comment-mail-menu-page .pmp-heading img.pmp-logo-icon
{
	margin-left : 10px;
	width       : 400px;
}
.comment-mail-menu-page .pmp-heading .pmp-heading-links
{
	left       : 450px;
	bottom     : 20px;
	position   : absolute;
	text-align : center;
}
.comment-mail-menu-page .pmp-heading .pmp-heading-links a
{
	text-decoration : none;
	margin          : 10px 15px 0 15px;
	display         : inline-block;
}
.comment-mail-menu-page .pmp-heading .pmp-heading-links a:first-child
{
	margin-left : 0;
}
.comment-mail-menu-page .pmp-heading .pmp-heading-links a:last-child
{
	margin-right : 0;
}
/*
Menu page panel styles.
*/
.comment-mail-menu-page .pmp-panel
{
	margin : 25px 0 25px 0;
}
.comment-mail-menu-page .pmp-panel:first-child
{
	margin-top : 0;
}
.comment-mail-menu-page .pmp-panel-heading
{
	display             : block;
	text-decoration     : none;

	z-index             : 1;
	position            : relative;

	padding             : 10px;
	font-size           : 150%;
	font-weight         : bold;
	background          : #173B47;
	color               : #EEEEEE !important;

	border-radius       : 4px;
	box-shadow          : 0 2px 2px 0 rgba(0, 0, 0, 0.25);

	cursor              : pointer;
	-webkit-user-select : none;
	-moz-user-select    : none;
	user-select         : none;
}
.comment-mail-menu-page .pmp-panel-heading:hover,
.comment-mail-menu-page .pmp-panel-heading.open
{
	background : #0D1F2F;
	color      : #FFFFFF !important;
}
.comment-mail-menu-page .pmp-panel-heading:after
{
	font-size   : 80%;
	content     : '\f078';
	font-weight : normal;
	font-family : 'FontAwesome';

	float       : right;
	margin      : 0 0 0 5px;
	display     : inline-block;
}
.comment-mail-menu-page .pmp-panel-heading.open:after
{
	content : '\f077';
}
.comment-mail-menu-page .pmp-pro-preview .pmp-panel-heading:after
{
	font-variant : small-caps !important;
	font-family  : sans-serif !important;
	content      : 'pro version only' !important;
}
.comment-mail-menu-page .pmp-panel-body
{
	width                      : 99%;
	margin                     : 0 auto 0 auto;
	box-sizing                 : border-box;

	z-index                    : 0;
	position                   : relative;
	display                    : none;

	padding                    : 25px;
	color                      : #333333;
	background                 : #D0DDAD;

	border-bottom-left-radius  : 4px;
	border-bottom-right-radius : 4px;

	box-shadow                 : 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.comment-mail-menu-page .pmp-panel-body.open
{
	display : block;
}
.comment-mail-menu-page .pmp-panel-body .pmp-notif-notice,
.comment-mail-menu-page .pmp-panel-body .pmp-notif-info,
.comment-mail-menu-page .pmp-panel-body .pmp-notif-warning,
.comment-mail-menu-page .pmp-panel-body .pmp-notif-error
{
	margin    : 0;
	padding   : 5px;
	display   : table;
	font-size : inherit;
}
.comment-mail-menu-page .pmp-panel-body h3
{
	margin : 0 0 5px 0;
}
.comment-mail-menu-page .pmp-panel-body h3:first-child
{
	margin-top : 0;
}
.comment-mail-menu-page .pmp-panel-body h3 + p
{
	margin-top : 0;
}
/*
Menu page save button styles.
*/
.comment-mail-menu-page .pmp-save button[type='submit']
{
	width       : 100%;
	line-height : 1.3em;
}
/* ------------------------------------------------------------------------------------------------------------
	Plugin-specific styles for menu page tables that follow a WP standard; but need a few tweaks.
------------------------------------------------------------------------------------------------------------ */
/*
Menu page table filter styles.
*/
.comment-mail-menu-page-table ul.pmp-navigable-filters li
{
	margin  : 0 10px 0 0;
	display : inline-block;
}
.comment-mail-menu-page-table ul.pmp-navigable-filters li > a
{
	border-radius   : 3px;
	text-decoration : none;
	color           : #A6A6A6;
	background      : #EAEAEA;
	padding         : 0 5px 0 5px;
	display         : inline-block;
}
.comment-mail-menu-page-table ul.pmp-navigable-filters li > a:hover,
.comment-mail-menu-page-table ul.pmp-navigable-filters li > a.pmp-active
{
	color      : #FFFFFF;
	background : #2EA2CC;
}
.comment-mail-menu-page-table ul.pmp-navigable-filters li > a.pmp-active
{
	font-weight : bold;
}
/*
Menu page table columns; i.e. media queries.
*/
@media all
{
	.comment-mail-menu-page-sub-event-log tr > *.column-ID,
		/**/
	.comment-mail-menu-page-queue tr > *.column-ID,
		/**/
	.comment-mail-menu-page-queue-event-log tr > *.column-ID
	{
		width : 100px;
	}
}
@media (max-width : 767px)
{
	.comment-mail-menu-page-subs tr > *.column-email,
		/**/
	.comment-mail-menu-page-sub-event-log tr > *.column-ID,
	.comment-mail-menu-page-sub-event-log tr > *.column-sub_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-event,
		/**/
	.comment-mail-menu-page-queue tr > *.column-ID,
	.comment-mail-menu-page-queue tr > *.column-sub_id,
		/**/
	.comment-mail-menu-page-queue-event-log tr > *.column-ID,
	.comment-mail-menu-page-queue-event-log tr > *.column-sub_id,
	.comment-mail-menu-page-queue-event-log tr > *.column-event
	{
		display : table-cell !important;
	}
	.comment-mail-menu-page-subs tr > *:not(.check-column):not(.column-email),
		/**/
	.comment-mail-menu-page-sub-event-log tr > *:not(.check-column):not(.column-ID):not(.column-sub_id):not(.column-event),
		/**/
	.comment-mail-menu-page-queue tr > *:not(.check-column):not(.column-ID):not(.column-sub_id),
		/**/
	.comment-mail-menu-page-queue-event-log tr > *:not(.check-column):not(.column-ID):not(.column-sub_id):not(.column-event)
	{
		display : none !important;
	}
}
@media (min-width : 768px) and (max-width : 991px)
{
	.comment-mail-menu-page-subs tr > *.column-email,
	.comment-mail-menu-page-subs tr > *.column-post_id,
		/**/
	.comment-mail-menu-page-sub-event-log tr > *.column-ID,
	.comment-mail-menu-page-sub-event-log tr > *.column-sub_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-event,
		/**/
	.comment-mail-menu-page-queue tr > *.column-ID,
	.comment-mail-menu-page-queue tr > *.column-sub_id,
	.comment-mail-menu-page-queue tr > *.column-hold_until_time,
		/**/
	.comment-mail-menu-page-queue-event-log tr > *.column-ID,
	.comment-mail-menu-page-queue-event-log tr > *.column-sub_id,
	.comment-mail-menu-page-queue-event-log tr > *.column-event
	{
		display : table-cell !important;
	}
	.comment-mail-menu-page-subs tr > *:not(.check-column):not(.column-email):not(.column-post_id),
		/**/
	.comment-mail-menu-page-sub-event-log tr > *:not(.check-column):not(.column-ID):not(.column-sub_id):not(.column-event),
		/**/
	.comment-mail-menu-page-queue tr > *:not(.check-column):not(.column-ID):not(.column-sub_id):not(.column-hold_until_time),
		/**/
	.comment-mail-menu-page-queue-event-log tr > *:not(.check-column):not(.column-ID):not(.column-sub_id):not(.column-event)
	{
		display : none !important;
	}
}
@media (min-width : 992px) and (max-width : 1199px)
{
	.comment-mail-menu-page-subs tr > *.column-email,
	.comment-mail-menu-page-subs tr > *.column-user_id,
	.comment-mail-menu-page-subs tr > *.column-post_id,
		/**/
	.comment-mail-menu-page-sub-event-log tr > *.column-sub_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-oby_sub_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-user_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-post_id,
		/**/
	.comment-mail-menu-page-queue tr > *.column-sub_id,
	.comment-mail-menu-page-queue tr > *.column-user_id,
	.comment-mail-menu-page-queue tr > *.column-post_id,
		/**/
	.comment-mail-menu-page-queue-event-log tr > *.column-sub_id,
	.comment-mail-menu-page-queue-event-log tr > *.column-user_id,
	.comment-mail-menu-page-queue-event-log tr > *.column-post_id
	{
		width : 200px;
	}
	.comment-mail-menu-page-subs tr > *.column-comment_id,
		/**/
	.comment-mail-menu-page-sub-event-log tr > *.column-comment_id,
		/**/
	.comment-mail-menu-page-queue tr > *.column-comment_parent_id,
	.comment-mail-menu-page-queue tr > *.column-comment_id,
		/**/
	.comment-mail-menu-page-queue-queue-event-log tr > *.column-comment_parent_id,
	.comment-mail-menu-page-queue-queue-event-log tr > *.column-comment_id
	{
		width : 150px;
	}
}
@media (min-width : 1200px) and (max-width : 1599px)
{
	.comment-mail-menu-page-subs tr > *.column-email,
	.comment-mail-menu-page-subs tr > *.column-user_id,
	.comment-mail-menu-page-subs tr > *.column-post_id,
		/**/
	.comment-mail-menu-page-sub-event-log tr > *.column-sub_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-oby_sub_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-user_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-post_id,
		/**/
	.comment-mail-menu-page-queue tr > *.column-sub_id,
	.comment-mail-menu-page-queue tr > *.column-user_id,
	.comment-mail-menu-page-queue tr > *.column-post_id,
		/**/
	.comment-mail-menu-page-queue-event-log tr > *.column-sub_id,
	.comment-mail-menu-page-queue-event-log tr > *.column-user_id,
	.comment-mail-menu-page-queue-event-log tr > *.column-post_id
	{
		width : 250px;
	}
	.comment-mail-menu-page-subs tr > *.column-comment_id,
		/**/
	.comment-mail-menu-page-sub-event-log tr > *.column-comment_id,
		/**/
	.comment-mail-menu-page-queue tr > *.column-comment_parent_id,
	.comment-mail-menu-page-queue tr > *.column-comment_id,
		/**/
	.comment-mail-menu-page-queue-queue-event-log tr > *.column-comment_parent_id,
	.comment-mail-menu-page-queue-queue-event-log tr > *.column-comment_id
	{
		width : 200px;
	}
}
@media (min-width : 1600px)
{
	.comment-mail-menu-page-subs tr > *.column-email,
	.comment-mail-menu-page-subs tr > *.column-user_id,
	.comment-mail-menu-page-subs tr > *.column-post_id,
		/**/
	.comment-mail-menu-page-sub-event-log tr > *.column-sub_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-oby_sub_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-user_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-post_id,
		/**/
	.comment-mail-menu-page-queue tr > *.column-sub_id,
	.comment-mail-menu-page-queue tr > *.column-user_id,
	.comment-mail-menu-page-queue tr > *.column-post_id,
		/**/
	.comment-mail-menu-page-queue-event-log tr > *.column-sub_id,
	.comment-mail-menu-page-queue-event-log tr > *.column-user_id,
	.comment-mail-menu-page-queue-event-log tr > *.column-post_id
	{
		width : 300px;
	}
	.comment-mail-menu-page-subs tr > *.column-comment_id,
		/**/
	.comment-mail-menu-page-sub-event-log tr > *.column-comment_id,
		/**/
	.comment-mail-menu-page-queue tr > *.column-comment_parent_id,
	.comment-mail-menu-page-queue tr > *.column-comment_id,
		/**/
	.comment-mail-menu-page-queue-queue-event-log tr > *.column-comment_parent_id,
	.comment-mail-menu-page-queue-queue-event-log tr > *.column-comment_id
	{
		width : 250px;
	}
}
/* ------------------------------------------------------------------------------------------------------------
	Plugin-specific styles for menu page forms that follow a WP standard; but need a few tweaks.
------------------------------------------------------------------------------------------------------------ */
/*
Menu page table filter styles.
*/
.comment-mail-menu-page-form .form-field input:not([type='radio']):not([type='checkbox']),
.comment-mail-menu-page-form .form-field select,
.comment-mail-menu-page-form .form-field textarea,
.comment-mail-menu-page-form .form-field p.description
{
	width     : 100%;
	max-width : 600px;
}