/* ------------------------------------------------------------------------------------------------------------
	Plugin-specific styles for any menu page area of the dashboard.
------------------------------------------------------------------------------------------------------------ */
@font-face {
	font-family : sharkicons;
	src         : url("../../submodules/sharkicons/src/fonts/sharkicons.eot");
	src         : url("../../submodules/sharkicons/src/fonts/sharkicons.eot?#iefix") format("embedded-opentype"), url("../../submodules/sharkicons/src/fonts/sharkicons.ttf") format("truetype"), url("../../submodules/sharkicons/src/fonts/sharkicons.woff") format("woff"), url("../../submodules/sharkicons/src/fonts/sharkicons.svg#sharkicons") format("svg");
	font-weight : normal;
	font-style  : normal
}
.si::before {
	font                   : normal normal normal 14px/1 sharkicons;
	text-rendering         : optimizeLegibility;
	-webkit-font-smoothing : antialiased;
	font-smoothing         : antialiased;
	display                : inline-block;
	font-size              : inherit;
	text-decoration        : inherit;
	text-transform         : none
}
/*
A menu page area ~ notifications.
*/
.comment-mail-menu-page-area .pmp-note
{
	border-radius : 5px;
	padding       : .5em;
	margin        : 0 0 1em 0;
	box-shadow    : 0 1px 1px 0 rgba(0, 0, 0, .1);
}
.comment-mail-menu-page-area .pmp-note.pmp-info
{
	background : #CEE5FF;
	border     : 1px solid #35558A;
}
.comment-mail-menu-page-area .pmp-note.pmp-notice
{
	background : #FFFDE8;
	border     : 1px solid #E6DB55;
}
.comment-mail-menu-page-area .pmp-note.pmp-warning
{
	background : #FFEFD3;
	border     : 1px solid #D29A04;
}
.comment-mail-menu-page-area .pmp-note.pmp-error
{
	background : #FFC0CB;
	border     : 1px solid #711E1E;
}
/*
A menu page area ~ list items.
*/
.comment-mail-menu-page-area ul.pmp-list-items,
.comment-mail-menu-page-area ul.pmp-list-items ul
{
	padding-left : 0;
	margin-left  : 3em;
	list-style   : disc;
}
.comment-mail-menu-page-area ul.pmp-list-items ul
{
	list-style : circle;
}
.comment-mail-menu-page-area ul.pmp-list-items li
{
	list-style : inherit;
}
/*
A menu page area ~ clean list items.
*/
.comment-mail-menu-page-area ul.pmp-clean-list-items,
.comment-mail-menu-page-area ul.pmp-clean-list-items ul
{
	padding-left : 0;
	margin-left  : 0;
	list-style   : none;
}
.comment-mail-menu-page-area ul.pmp-clean-list-items ul
{
	margin-left : 1.5em;
	list-style  : circle;
}
.comment-mail-menu-page-area ul.pmp-clean-list-items li
{
	list-style : inherit;
}
/*
A menu page area ~ chosen select menus.
*/
.comment-mail-menu-page-area .chosen-container,
.comment-mail-menu-page-area .chosen-container .chosen-drop,
.comment-mail-menu-page-area .chosen-container .chosen-search,
.comment-mail-menu-page-area .chosen-container .chosen-choices
{
	box-sizing : border-box;
	width      : 100% !important;
}
.comment-mail-menu-page-area .chosen-container .chosen-choices .search-field
{
	width : auto !important;
}
.comment-mail-menu-page-area .chosen-container .chosen-choices
{
	outline       : 0;
	border-radius : 4px;

	margin        : .05em;
	padding       : .25em;

	color         : #333333;
	background    : #FFFFFF;
	border        : 1px solid #DDDDDD;
	box-shadow    : inset 0 1px 2px rgba(0, 0, 0, .07);
	transition    : .05s border-color ease-in-out;
}
.comment-mail-menu-page-area .chosen-container .chosen-choices li.search-choice
{
	font-size   : .8em;
	line-height : .9em;
	margin      : 0 .25em 0 0;
}
.comment-mail-menu-page-area .chosen-container .chosen-choices li.search-choice .search-choice-close
{
	top   : 2.6em;
	right : 2.6em;
}
/*
A menu page area ~ post com/sub bubbles.
*/
.comment-mail-menu-page-area .pmp-post-com-count
{
	padding-bottom  : 0;
	text-decoration : none;
}
.comment-mail-menu-page-area .pmp-post-sub-count
{
	border-radius   : 3px;
	text-align      : left;
	text-decoration : none;
	background      : #BBBBBB;
	padding         : .25em .5em .25em .4em;
	display         : inline-block;
}
.comment-mail-menu-page-area .pmp-post-sub-count::before
{
	text-rendering         : auto;
	font-weight            : normal;
	content                : '\e002';
	color                  : #5A5A5A;
	font-family            : sharkicons;
	-webkit-font-smoothing : antialiased;

	float                  : left;
	margin                 : 0 .5em 0 0;
	display                : inline-block;
}
.comment-mail-menu-page-area .pmp-post-sub-count > .pmp-sub-count
{
	font-weight : bold;
	color       : #FFFFFF;
}
.comment-mail-menu-page-area .pmp-post-sub-count:hover
{
	background : #2EA2CC;
}
.comment-mail-menu-page-area .pmp-post-sub-count:hover::before
{
	color : #FFFFFF;
}
/*
A menu page area ~ horizontal lines.
*/
.comment-mail-menu-page-area hr
{
	border     : 0;
	padding    : 0;
	height     : 1px;
	margin     : 1em 0 1em 0;
	background : linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/*
A menu page area ~ postboxes.
*/
.comment-mail-menu-page-area .pmp-postbox-container
{
	width : 100%;
}
.comment-mail-menu-page-area .pmp-postbox-hndle
{
	cursor : pointer !important;
}
.comment-mail-menu-page-area .pmp-postbox-hndle-note
{
	font-size  : 70%;
	opacity    : 0.5;
	font-style : italic;
	margin     : 0 0 0 .5em;
	display    : inline-block;
}
.comment-mail-menu-page-area .pmp-postbox-handle::before
{
	top                     : 0;
	right                   : .25em;
	position                : relative;

	content                 : '\f142';
	font                    : 400 1.5em/1em dashicons;

	-webkit-font-smoothing  : antialiased;
	-moz-osx-font-smoothing : grayscale;
	text-decoration         : none !important;

	display                 : inline-block;
	padding                 : .5em 0 .5em 0;
}
.comment-mail-menu-page-area .pmp-postbox.closed .pmp-postbox-handle::before
{
	content : '\f140';
}
/*
A menu page area ~ alert box.
*/
.comment-mail-menu-page-area .pmp-modal-dialog-overlay
{
	top        : 0;
	left       : 0;
	z-index    : 1;
	position   : fixed;

	width      : 100%;
	height     : 100%;
	background : rgba(0, 0, 0, 0.5);

	cursor     : pointer;
}
.comment-mail-menu-page-area .pmp-modal-dialog
{
	top           : 100px;
	left          : 50%;
	position      : fixed;
	z-index       : 2;

	width         : 50%;
	margin-left   : -25%;

	background    : #FFFFFF;
	border        : 1px solid #888888;
	padding       : 1.5em;

	max-height    : 400px;
	overflow-y    : auto;

	border-radius : 4px;
	box-shadow    : 0 0 20px 2px rgba(0, 0, 0, 0.2);
}
.comment-mail-menu-page-area .pmp-modal-dialog .pmp-modal-dialog-close
{
	font-size       : 150%;
	font-style      : normal;

	float           : right;
	margin          : 0 0 2em 2em;

	cursor          : pointer;
	text-decoration : none;
}
.comment-mail-menu-page-area .pmp-modal-dialog .pmp-modal-dialog-close::before
{
	content : '\2716';
}
/*
A menu page area ~ tabs.
*/
.comment-mail-menu-page-area .pmp-tabs
{
	margin-bottom : 1em;
	border-bottom : 1px solid #3F3F3F;
}
.comment-mail-menu-page-area .pmp-tabs > a
{
	display                 : inline-block;
	margin                  : 0 0 0 .5em;
	padding                 : .25em .5em .25em .5em;

	border                  : 1px solid transparent;
	border-width            : 1px 1px 0 1px;
	border-top-left-radius  : 5px;
	border-top-right-radius : 5px;

	text-decoration         : none;
	opacity                 : 0.5;

	position                : relative;
	bottom                  : -1px;

	outline                 : none;
	box-shadow              : none;

	cursor                  : pointer;
	-webkit-user-select     : none;
	-moz-user-select        : none;
	user-select             : none;
}
.comment-mail-menu-page-area .pmp-tabs > a:hover,
.comment-mail-menu-page-area .pmp-tabs > a.pmp-active
{
	opacity : 1;
}
.comment-mail-menu-page-area .pmp-tabs > a.pmp-active
{
	background   : #FFFFFF;
	border-color : #3F3F3F;
}
.comment-mail-menu-page-area .pmp-tab-panes > *
{
	display : none;
}
.comment-mail-menu-page-area .pmp-tab-panes > *.pmp-active
{
	display : block;
}
/*
A menu page area ~ utilities.
*/
.comment-mail-menu-page-area .pmp-left
{
	margin-right : 1em;
	float        : left !important;
}
.comment-mail-menu-page-area .pmp-right
{
	margin-left : 1em;
	float       : right !important;
}
.comment-mail-menu-page-area .pmp-borders-padding
{
	border-radius : 4px !important;
	padding       : .5em !important;
	background    : #FFFFFF !important;
	border        : 1px solid rgba(0, 0, 0, .3) !important;
}
.comment-mail-menu-page-area .pmp-hilite
{
	border        : 0 !important;
	border-radius : 5px !important;
	color         : #000000 !important;
	background    : #FFFBB2 !important;
	padding       : .25em .5em .25em .5em !important;
}
.comment-mail-menu-page-area .pmp-dotted-link
{
	text-decoration : none !important;
	cursor          : pointer !important;
	border          : 1px dotted !important;
	border-width    : 0 0 1px 0 !important;
}
.comment-mail-menu-page-area .pmp-q-link
{
	text-decoration : none;
	letter-spacing  : .1em;
}
.comment-mail-menu-page-area .pmp-child-branch
{
	margin-left : .25em;
	display     : inline-block;

	font-weight : normal;
	font-style  : normal;
	opacity     : 0.2;
}
.comment-mail-menu-page-area .pmp-child-branch::before
{
	content : '\A716';
}
.comment-mail-menu-page-area .pmp-blink
{
	animation         : pmp-blink .5s steps(5, start) infinite !important;
	-webkit-animation : pmp-blink .5s steps(5, start) infinite !important;
}
@keyframes pmp-blink
{
	to
	{
		visibility : hidden;
	}
}
@-webkit-keyframes pmp-blink
{
	to
	{
		visibility : hidden;
	}
}
/* ------------------------------------------------------------------------------------------------------------
	WP core elements under plugin-specific conditions.
------------------------------------------------------------------------------------------------------------ */
/*
Align w/ menu page.
*/
body[class*='comment_mail'] #wpbody-content > div.updated,
body[class*='comment_mail'] #wpbody-content > div.error
{
	margin : 1.25em 1.25em 1.25em .25em;
}
/* ------------------------------------------------------------------------------------------------------------
	Plugin-specific styles for an actual/standard plugin menu page; e.g. options.
------------------------------------------------------------------------------------------------------------ */
/*
Menu page styles.
*/
.comment-mail-menu-page
{
	font-size : 14px;
	min-width : 800px;
	margin    : 1.25em 1.25em 1.25em .25em;
}
.comment-mail-menu-page a
{
	color : #346098;
}
.comment-mail-menu-page a:hover,
.comment-mail-menu-page a:focus,
.comment-mail-menu-page a:active
{
	color      : #307D27;
	box-shadow : none;
}
.comment-mail-menu-page p,
.comment-mail-menu-page pre,
.comment-mail-menu-page output,
.comment-mail-menu-page table,
.comment-mail-menu-page blockquote,
.comment-mail-menu-page audio,
.comment-mail-menu-page video,
.comment-mail-menu-page ul,
.comment-mail-menu-page ol,
.comment-mail-menu-page dl
{
	margin : 1em 0 1em 0;
}
.comment-mail-menu-page .cm pre
{
	margin : 0;
}
.comment-mail-menu-page *:not(hr):first-child
{
	margin-top : 0 !important;
}
.comment-mail-menu-page *:not(hr):last-child
{
	margin-bottom : 0 !important;
}
.comment-mail-menu-page li > ul:first-child,
.comment-mail-menu-page li > ol:first-child
{
	margin-top : 1em !important;
}
.comment-mail-menu-page p,
.comment-mail-menu-page code
{
	font-size : inherit;
}
.comment-mail-menu-page table
{
	width        : 100%;
	table-layout : fixed;
}
.comment-mail-menu-page table .form-field th,
.comment-mail-menu-page table .form-field td
{
	display    : block;
	text-align : left;
}
.comment-mail-menu-page table .description,
.comment-mail-menu-page table .notes
{
	opacity   : 0.75;
	font-size : 90%;
}
.comment-mail-menu-page table .description
{
	font-style : italic;
}
.comment-mail-menu-page table .notes-before
{
	margin-bottom : .5em;
}
.comment-mail-menu-page table .notes-after
{
	margin-top : .5em;
}
.comment-mail-menu-page code
{
	border-radius : 3px;
	padding       : .1em .25em .1em .25em;
	background    : rgba(178, 178, 178, 0.25);
	font-family   : 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
}
.comment-mail-menu-page pre.pmp-code
{
	padding    : 0;
	background : none;
}
.comment-mail-menu-page pre.pmp-code > code
{
	font-size     : 90%;
	color         : #F7F7F7;
	background    : #2D2D2D;
	overflow-x    : auto;
	max-width     : 100%;

	border-radius : 4px;
	padding       : .5em;
	display       : block;
	box-shadow    : 0 0 2px 1px #000000 inset, 0 0 1px 1px rgba(0, 0, 0, 0.5);
}
.comment-mail-menu-page img
{
	border : 0;
}
.comment-mail-menu-page hr
{
	border     : 0;
	padding    : 0;
	height     : 1px;
	margin     : 1em 0 1em 0;
	background : linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.comment-mail-menu-page label
{
	-webkit-user-select : none;
	-moz-user-select    : none;
	user-select         : none;
}
.comment-mail-menu-page select,
.comment-mail-menu-page select:focus,
.comment-mail-menu-page textarea,
.comment-mail-menu-page textarea:focus,
.comment-mail-menu-page :not(.chosen-search) > input:not([type='radio']):not([type='checkbox']),
.comment-mail-menu-page :not(.chosen-search) > input:not([type='radio']):not([type='checkbox']):focus
{
	margin      : 0;
	width       : 100%;
	height      : 2em;

	font-size   : 1em;
	line-height : 1em;
	font-weight : normal;

	box-sizing  : border-box;
}
.comment-mail-menu-page textarea,
.comment-mail-menu-page textarea:focus,
.comment-mail-menu-page :not(.chosen-search) > input:not([type='radio']):not([type='checkbox']),
.comment-mail-menu-page :not(.chosen-search) > input:not([type='radio']):not([type='checkbox']):focus,
.comment-mail-menu-page /* CodeMirror. */.cm,
.comment-mail-menu-page .cm .CodeMirror
{
	font-size   : 1em; /* Font size again, for CodeMirror too. */
	font-family : 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
}
.comment-mail-menu-page textarea,
.comment-mail-menu-page textarea:focus
{
	height      : auto;
	white-space : pre;
}
.comment-mail-menu-page select,
.comment-mail-menu-page select:focus,
.comment-mail-menu-page textarea,
.comment-mail-menu-page textarea:focus,
.comment-mail-menu-page :not(.chosen-search) > input:not([type='radio']):not([type='checkbox']),
.comment-mail-menu-page :not(.chosen-search) > input:not([type='radio']):not([type='checkbox']):focus,
.comment-mail-menu-page /* CodeMirror wrappers. */.cm
{
	border-radius : 4px;
	padding       : .25em;
	border        : 1px solid #C5C5C5;
	box-shadow    : 0 1px 0 0 rgba(0, 0, 0, 0.05) inset, 0 -1px 1px 0 rgba(0, 0, 0, 0.06) inset;
}
.comment-mail-menu-page select,
.comment-mail-menu-page select:focus,
.comment-mail-menu-page /* CodeMirror. */.cm
{
	box-shadow : 0 2px 0 0 rgba(255, 255, 255, 0.25) inset, 0 -1px 1px 0 rgba(165, 165, 165, 0.42) inset;
}
.comment-mail-menu-page select,
.comment-mail-menu-page textarea,
.comment-mail-menu-page :not(.chosen-search) > input:not([type='radio']):not([type='checkbox'])
{
	color      : #346098;
	background : #E0E0E0;
}
.comment-mail-menu-page select
{
	background : linear-gradient(to bottom, rgba(239, 239, 239, 1) 0%, rgba(228, 228, 228, 1) 100%);
}
.comment-mail-menu-page select:focus,
.comment-mail-menu-page textarea:focus,
.comment-mail-menu-page :not(.chosen-search) > input:not([type='radio']):not([type='checkbox']):focus,
.comment-mail-menu-page /* CodeMirror. */.cm
{
	color : #000000;
}
.comment-mail-menu-page textarea:focus,
.comment-mail-menu-page :not(.chosen-search) > input:not([type='radio']):not([type='checkbox']):focus
{
	background : #E8E8E8;
}
.comment-mail-menu-page select:focus
{
	background : #FFFFFF;
}
.comment-mail-menu-page .cm .cm-s-ambiance .cm-qualifier
{
	color : #C7FFC5; /* Hate the default that comes w/ ambiance. */
}
.comment-mail-menu-page select.pmp-max-width,
.comment-mail-menu-page textarea.pmp-max-width,
.comment-mail-menu-page :not(.chosen-search) > input.pmp-max-width:not([type='radio']):not([type='checkbox'])
{
	width     : auto;
	min-width : 400px;
}
.comment-mail-menu-page input::-webkit-input-placeholder
{
	padding-top : .1em;
	font-style  : italic;
	color       : rgba(0, 0, 0, 0.2);
}
.comment-mail-menu-page input::-moz-placeholder
{
	padding-top : .1em;
	font-style  : italic;
	color       : rgba(0, 0, 0, 0.2);
}
.comment-mail-menu-page input:-moz-placeholder
{
	padding-top : .1em;
	font-style  : italic;
	color       : rgba(0, 0, 0, 0.2);
}
.comment-mail-menu-page input:-ms-input-placeholder
{
	padding-top : .1em;
	font-style  : italic;
	color       : rgba(0, 0, 0, 0.2);
}
.comment-mail-menu-page select[disabled],
.comment-mail-menu-page textarea[disabled],
.comment-mail-menu-page :not(.chosen-search) > input[disabled]
{
	opacity : 0.5;
}
.comment-mail-menu-page button
{
	line-height         : 1em;
	font-size           : 150%;
	font-weight         : bold;
	color               : #FFFFFF;
	background          : #3E76B8;

	border-radius       : 4px;
	border              : 1px solid rgba(0, 0, 0, 0.5);
	box-shadow          : 0 1px 1px 0 rgba(0, 0, 0, 0.25),
	-1px -1px 0 0 rgba(0, 0, 0, 0.2) inset,
	1px 1px 0 0 rgba(255, 255, 255, 0.1) inset;

	margin              : 0;
	box-sizing          : border-box;
	padding             : .25em;

	outline             : none;

	cursor              : pointer;
	-webkit-user-select : none;
	-moz-user-select    : none;
	user-select         : none;
}
.comment-mail-menu-page button:hover
{
	background : #307D27;
}
.comment-mail-menu-page button:active
{
	-webkit-transform : scale(0.98, 0.98);
	transform         : scale(0.98, 0.98);
}
.comment-mail-menu-page .pmp-pro-preview
{
	opacity : 0.5;
}
.comment-mail-menu-page .pmp-clearfix:before,
.comment-mail-menu-page .pmp-clearfix:after
{
	display : table;
	content : ' ';
}
.comment-mail-menu-page .pmp-clearfix:after
{
	clear : both;
}
.comment-mail-menu-page > .pmp-note,
.comment-mail-menu-page > * > .pmp-note
{
	margin : -1em 0 2em 0;
}
/*
Menu page heading styles.
*/
.comment-mail-menu-page .pmp-heading
{
	padding-bottom : 1em;
	margin-bottom  : 2em;
	position       : relative;
}
.comment-mail-menu-page .pmp-heading::after
{
	content    : '';
	bottom     : 0;
	left       : 0;
	position   : absolute;

	width      : 100%;
	height     : .25em;

	background : linear-gradient(to left, rgba(204, 204, 204, 0), rgba(204, 204, 204, 0.75), rgba(204, 204, 204, 0));
}
.comment-mail-menu-page .pmp-heading img.pmp-logo-icon
{
	width  : 400px;
	margin : 0 0 1em .5em;
}
.comment-mail-menu-page .pmp-heading .pmp-heading-links a
{
	text-decoration : none;
	text-align      : center;
	display         : inline-block;

	margin          : 0;
	border-radius   : 4px;
	background      : transparent;
	padding         : .25em .5em .25em .5em;
}
.comment-mail-menu-page .pmp-heading .pmp-heading-links a.pmp-active
{
	font-weight : bold;
	color       : #307D27;
	background  : #FFFFFF;
}
.comment-mail-menu-page .pmp-heading .pmp-heading-links a:first-child
{
	margin-left : 0;
}
.comment-mail-menu-page .pmp-heading .pmp-heading-links a:last-child
{
	margin-right : 0;
}
.comment-mail-menu-page .pmp-heading .pmp-heading-links a > .pmp-blink
{
	font-size : 80%;
	display   : block;
	margin    : .25em 0 0 0;
}
/*
Menu page body styles.
*/
.comment-mail-menu-page .pmp-body .pmp-all-panel-togglers
{
	outline   : none;
	float     : right;
	font-size : 300%;
	margin    : 0 0 0 2em;

	z-index   : 1;
	position  : relative;
}
.comment-mail-menu-page .pmp-body .pmp-template-types a
{
	opacity         : 0.5;
	border-radius   : 4px;
	text-decoration : none;
	padding         : .1em .25em .1em .25em;
}
.comment-mail-menu-page .pmp-body .pmp-template-types a:hover,
.comment-mail-menu-page .pmp-body .pmp-template-types a.pmp-active
{
	opacity : 1;
}
.comment-mail-menu-page .pmp-body .pmp-template-types a.pmp-active
{
	font-weight : bold;
	color       : #307D27;
	background  : #FFFFFF;
}
/*
Menu page section heading styles.
*/
.comment-mail-menu-page .pmp-section-heading
{
	margin : 1em 0 1em 0;
}
.comment-mail-menu-page .pmp-section-heading > small
{
	font-size  : 65%;
	opacity    : 0.5;
	font-style : italic;
	display    : block;
	margin     : .25em 0 0 0 !important;
}
/*
Menu page panel styles.
*/
.comment-mail-menu-page .pmp-panel
{
	margin : 1em 0 1em 0;
}
.comment-mail-menu-page .pmp-panel:first-child
{
	margin-top : 0;
}
.comment-mail-menu-page .pmp-panel-heading
{
	display             : block;
	text-decoration     : none;

	padding             : .5em;
	font-size           : 150%;
	font-weight         : bold;
	background          : #346098;
	color               : #EEEEEE !important;

	border-radius       : 4px;
	box-shadow          : 0 2px 2px 0 rgba(0, 0, 0, 0.25);

	cursor              : pointer;
	-webkit-user-select : none;
	-moz-user-select    : none;
	user-select         : none;
}
.comment-mail-menu-page .pmp-panel-heading:hover
{
	background : #142D4D;
	color      : #FFFFFF !important;
}
.comment-mail-menu-page .pmp-panel-heading.open
{
	background : #307D27;
	color      : #FFFFFF !important;
}
.comment-mail-menu-page .pmp-panel-heading:after
{
	font-size   : 80%;
	content     : '\f078';
	font-weight : normal;
	font-family : 'FontAwesome';

	float       : right;
	margin      : 0 0 0 .5em;
	display     : inline-block;
}
.comment-mail-menu-page .pmp-panel-heading.open:after
{
	content : '\f077';
}
.comment-mail-menu-page .pmp-pro-preview .pmp-panel-heading:after
{
	font-variant : small-caps !important;
	font-family  : sans-serif !important;
	content      : 'pro version only' !important;
}
.comment-mail-menu-page-area .pmp-panel-heading-note
{
	font-size  : 70%;
	opacity    : 0.5;
	font-style : italic;
	margin     : 0 0 0 .5em;
	display    : inline-block;
}
.comment-mail-menu-page .pmp-panel-body
{
	width                      : 99%;
	margin                     : 0 auto 0 auto;
	box-sizing                 : border-box;

	display                    : none;

	padding                    : 1em;
	color                      : #333333;
	background                 : #FFFFFF;

	border-bottom-left-radius  : 4px;
	border-bottom-right-radius : 4px;

	box-shadow                 : 0 1px 1px 0 rgba(0, 0, 0, 0.5), 0 3px 1px -1px rgba(0, 0, 0, 0.25) inset;
}
.comment-mail-menu-page .pmp-panel-body.open
{
	display : block;
}
.comment-mail-menu-page .pmp-panel-body h3
{
	margin : 0 0 1em 0;
}
.comment-mail-menu-page .pmp-panel-body h3:first-child
{
	margin-top : 0;
}
.comment-mail-menu-page .pmp-panel-body h3 + p
{
	margin-top : 0;
}
.comment-mail-menu-page .pmp-panel-body .pmp-note
{
	padding   : 5px;
	font-size : inherit;
	margin    : 1em 0 1em 0;
}
.comment-mail-menu-page .pmp-panel-body .pmp-note.pmp-max-width
{
	display : table;
}
.comment-mail-menu-page .pmp-panel-body .pmp-import-iframe-output
{
	display       : block;

	width         : 100%;
	height        : 75px;
	box-sizing    : border-box;

	padding       : 0;
	margin        : 1em 0 1em 0;

	border-radius : 4px;
	background    : transparent;
	border        : 1px dashed #CCCCCC;
}
/*
Menu page save button styles.
*/
.comment-mail-menu-page .pmp-save
{
	margin-top  : 2em;
	padding-top : 1em;
	position    : relative;
}
.comment-mail-menu-page .pmp-save::before
{
	content    : '';
	top        : 0;
	left       : 0;
	position   : absolute;

	width      : 100%;
	height     : .25em;

	background : linear-gradient(to left, rgba(204, 204, 204, 0), rgba(204, 204, 204, 0.75), rgba(204, 204, 204, 0));
}
.comment-mail-menu-page .pmp-save button[type='submit']
{
	width       : 100%;
	line-height : 1.3em;
}
/* ------------------------------------------------------------------------------------------------------------
	Plugin-specific styles for menu page tables that follow a WP standard; but need a few tweaks.
------------------------------------------------------------------------------------------------------------ */
/*
Menu page table filter styles.
*/
.comment-mail-menu-page-table ul.pmp-navigable-filters li
{
	margin  : 0 .5em 0 0;
	display : inline-block;
}
.comment-mail-menu-page-table ul.pmp-navigable-filters li > a
{
	border-radius   : 3px;
	text-decoration : none;
	color           : #A6A6A6;
	background      : #EAEAEA;
	padding         : 0 .35em 0 .35em;
	display         : inline-block;
}
.comment-mail-menu-page-table ul.pmp-navigable-filters li > a:hover,
.comment-mail-menu-page-table ul.pmp-navigable-filters li > a.pmp-active
{
	color      : #FFFFFF;
	background : #2EA2CC;
}
.comment-mail-menu-page-table ul.pmp-navigable-filters li > a.pmp-active
{
	font-weight : bold;
}
/*
Menu page table columns; i.e. media queries.
*/
@media all
{
	.comment-mail-menu-page-sub-event-log tr > *.column-ID,
		/**/
	.comment-mail-menu-page-queue tr > *.column-ID,
		/**/
	.comment-mail-menu-page-queue-event-log tr > *.column-ID
	{
		width : 100px;
	}
}
@media (max-width : 767px)
{
	.comment-mail-menu-page-subs tr > *.column-email,
		/**/
	.comment-mail-menu-page-sub-event-log tr > *.column-ID,
	.comment-mail-menu-page-sub-event-log tr > *.column-sub_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-event,
		/**/
	.comment-mail-menu-page-queue tr > *.column-ID,
	.comment-mail-menu-page-queue tr > *.column-sub_id,
		/**/
	.comment-mail-menu-page-queue-event-log tr > *.column-ID,
	.comment-mail-menu-page-queue-event-log tr > *.column-sub_id,
	.comment-mail-menu-page-queue-event-log tr > *.column-event
	{
		display : table-cell !important;
	}
	.comment-mail-menu-page-subs tr > *:not(.check-column):not(.column-email),
		/**/
	.comment-mail-menu-page-sub-event-log tr > *:not(.check-column):not(.column-ID):not(.column-sub_id):not(.column-event),
		/**/
	.comment-mail-menu-page-queue tr > *:not(.check-column):not(.column-ID):not(.column-sub_id),
		/**/
	.comment-mail-menu-page-queue-event-log tr > *:not(.check-column):not(.column-ID):not(.column-sub_id):not(.column-event)
	{
		display : none !important;
	}
}
@media (min-width : 768px) and (max-width : 991px)
{
	.comment-mail-menu-page-subs tr > *.column-email,
	.comment-mail-menu-page-subs tr > *.column-post_id,
		/**/
	.comment-mail-menu-page-sub-event-log tr > *.column-ID,
	.comment-mail-menu-page-sub-event-log tr > *.column-sub_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-event,
		/**/
	.comment-mail-menu-page-queue tr > *.column-ID,
	.comment-mail-menu-page-queue tr > *.column-sub_id,
	.comment-mail-menu-page-queue tr > *.column-hold_until_time,
		/**/
	.comment-mail-menu-page-queue-event-log tr > *.column-ID,
	.comment-mail-menu-page-queue-event-log tr > *.column-sub_id,
	.comment-mail-menu-page-queue-event-log tr > *.column-event
	{
		display : table-cell !important;
	}
	.comment-mail-menu-page-subs tr > *:not(.check-column):not(.column-email):not(.column-post_id),
		/**/
	.comment-mail-menu-page-sub-event-log tr > *:not(.check-column):not(.column-ID):not(.column-sub_id):not(.column-event),
		/**/
	.comment-mail-menu-page-queue tr > *:not(.check-column):not(.column-ID):not(.column-sub_id):not(.column-hold_until_time),
		/**/
	.comment-mail-menu-page-queue-event-log tr > *:not(.check-column):not(.column-ID):not(.column-sub_id):not(.column-event)
	{
		display : none !important;
	}
}
@media (min-width : 992px) and (max-width : 1199px)
{
	.comment-mail-menu-page-subs tr > *.column-email,
	.comment-mail-menu-page-subs tr > *.column-user_id,
	.comment-mail-menu-page-subs tr > *.column-post_id,
	.comment-mail-menu-page-subs tr > *.column-comment_id,
		/**/
	.comment-mail-menu-page-sub-event-log tr > *.column-sub_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-oby_sub_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-user_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-post_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-comment_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-user_id_before,
	.comment-mail-menu-page-sub-event-log tr > *.column-post_id_before,
	.comment-mail-menu-page-sub-event-log tr > *.column-comment_id_before,
		/**/
	.comment-mail-menu-page-queue tr > *.column-sub_id,
	.comment-mail-menu-page-queue tr > *.column-user_id,
	.comment-mail-menu-page-queue tr > *.column-post_id,
	.comment-mail-menu-page-queue tr > *.column-comment_parent_id,
	.comment-mail-menu-page-queue tr > *.column-comment_id,
		/**/
	.comment-mail-menu-page-queue-event-log tr > *.column-sub_id,
	.comment-mail-menu-page-queue-event-log tr > *.column-user_id,
	.comment-mail-menu-page-queue-event-log tr > *.column-post_id,
	.comment-mail-menu-page-queue-event-log tr > *.column-comment_parent_id,
	.comment-mail-menu-page-queue-event-log tr > *.column-comment_id
	{
		width : 200px;
	}
}
@media (min-width : 1200px) and (max-width : 1599px)
{
	.comment-mail-menu-page-subs tr > *.column-email,
	.comment-mail-menu-page-subs tr > *.column-user_id,
	.comment-mail-menu-page-subs tr > *.column-post_id,
	.comment-mail-menu-page-subs tr > *.column-comment_id,
		/**/
	.comment-mail-menu-page-sub-event-log tr > *.column-sub_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-oby_sub_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-user_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-post_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-comment_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-user_id_before,
	.comment-mail-menu-page-sub-event-log tr > *.column-post_id_before,
	.comment-mail-menu-page-sub-event-log tr > *.column-comment_id_before,
		/**/
	.comment-mail-menu-page-queue tr > *.column-sub_id,
	.comment-mail-menu-page-queue tr > *.column-user_id,
	.comment-mail-menu-page-queue tr > *.column-post_id,
	.comment-mail-menu-page-queue tr > *.column-comment_parent_id,
	.comment-mail-menu-page-queue tr > *.column-comment_id,
		/**/
	.comment-mail-menu-page-queue-event-log tr > *.column-sub_id,
	.comment-mail-menu-page-queue-event-log tr > *.column-user_id,
	.comment-mail-menu-page-queue-event-log tr > *.column-post_id,
	.comment-mail-menu-page-queue-event-log tr > *.column-comment_parent_id,
	.comment-mail-menu-page-queue-event-log tr > *.column-comment_id
	{
		width : 250px;
	}
}
@media (min-width : 1600px)
{
	.comment-mail-menu-page-subs tr > *.column-email,
	.comment-mail-menu-page-subs tr > *.column-user_id,
	.comment-mail-menu-page-subs tr > *.column-post_id,
	.comment-mail-menu-page-subs tr > *.column-comment_id,
		/**/
	.comment-mail-menu-page-sub-event-log tr > *.column-sub_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-oby_sub_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-user_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-post_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-comment_id,
	.comment-mail-menu-page-sub-event-log tr > *.column-user_id_before,
	.comment-mail-menu-page-sub-event-log tr > *.column-post_id_before,
	.comment-mail-menu-page-sub-event-log tr > *.column-comment_id_before,
		/**/
	.comment-mail-menu-page-queue tr > *.column-sub_id,
	.comment-mail-menu-page-queue tr > *.column-user_id,
	.comment-mail-menu-page-queue tr > *.column-post_id,
	.comment-mail-menu-page-queue tr > *.column-comment_parent_id,
	.comment-mail-menu-page-queue tr > *.column-comment_id,
		/**/
	.comment-mail-menu-page-queue-event-log tr > *.column-sub_id,
	.comment-mail-menu-page-queue-event-log tr > *.column-user_id,
	.comment-mail-menu-page-queue-event-log tr > *.column-post_id,
	.comment-mail-menu-page-queue-event-log tr > *.column-comment_parent_id,
	.comment-mail-menu-page-queue-event-log tr > *.column-comment_id
	{
		width : 300px;
	}
}
/* ------------------------------------------------------------------------------------------------------------
	Plugin-specific styles for menu page forms that follow a WP standard; but need a few tweaks.
------------------------------------------------------------------------------------------------------------ */
/*
Menu page form field styles.
*/
.comment-mail-menu-page-form .form-field select,
.comment-mail-menu-page-form .form-field textarea,
.comment-mail-menu-page-form .form-field :not(.chosen-search) > input:not([type='radio']):not([type='checkbox']),
.comment-mail-menu-page-form .form-field .chosen-container,
.comment-mail-menu-page-form .form-field .notes
{
	width      : 100%;
	max-width  : 600px;
	box-sizing : border-box;
}
.comment-mail-menu-page-form .form-field .description,
.comment-mail-menu-page-form .form-field .notes
{
	opacity    : 0.75;
	font-style : italic;
}
.comment-mail-menu-page-form .form-field .notes
{
	margin-top : .25em;
}
/* ------------------------------------------------------------------------------------------------------------
	Plugin-specific styles for menu page stats that follow a WP standard; but need a few tweaks.
------------------------------------------------------------------------------------------------------------ */
/*
Menu page statistical form field styles.
*/
.comment-mail-menu-page-stats .form-field select,
.comment-mail-menu-page-stats .form-field textarea,
.comment-mail-menu-page-stats .form-field :not(.chosen-search) > input:not([type='radio']):not([type='checkbox']),
.comment-mail-menu-page-stats .form-field .notes
{
	width      : 100%;
	box-sizing : border-box;
}
.comment-mail-menu-page-stats .form-field .description,
.comment-mail-menu-page-stats .form-field .notes
{
	opacity    : 0.75;
	font-style : italic;
}
.comment-mail-menu-page-stats .form-field .notes
{
	margin-top : .25em;
}
/*
Menu page statistical view styles.
*/
.comment-mail-menu-page-stats .pmp-stats-view-table,
.comment-mail-menu-page-stats .pmp-stats-view-table table
{
	width        : 100%;
	table-layout : auto;
}
.comment-mail-menu-page-stats .pmp-stats-view-table table
{
	table-layout : fixed;
}
.comment-mail-menu-page-stats .pmp-stats-view-table th,
.comment-mail-menu-page-stats .pmp-stats-view-table td
{
	margin         : 0;
	padding        : 0;
	vertical-align : middle;
}
.comment-mail-menu-page-stats .pmp-stats-view-table .pmp-stats-view-col th,
.comment-mail-menu-page-stats .pmp-stats-view-table .pmp-stats-view-col td
{
	width      : 100%;
	display    : block;
	text-align : left;
}
.comment-mail-menu-page-stats .pmp-stats-view-table .pmp-stats-view-col input
{
	border-radius : 4px;
}
.comment-mail-menu-page-stats .pmp-stats-view-table .pmp-stats-view-col input,
.comment-mail-menu-page-stats .pmp-stats-view-table .pmp-stats-view-col button
{
	width     : 100%;
	max-width : 100%;
}
.comment-mail-menu-page-stats .pmp-stats-view-table .pmp-stats-view-col.pmp-stats-view-submit,
.comment-mail-menu-page-stats .pmp-stats-view-table .pmp-stats-view-col.pmp-stats-view-submit button
{
	width       : 150px;
	white-space : nowrap;
	text-align  : center;
}
.comment-mail-menu-page-stats .pmp-stats-view-table .pmp-stats-view-col.pmp-stats-view-submit
{
	padding-left   : 2em;
	vertical-align : bottom;
}
.comment-mail-menu-page-stats .pmp-stats-view .pmp-progress
{
	display : block;
	margin  : 1em auto 1em auto;
}
.comment-mail-menu-page-stats .pmp-stats-view .pmp-canvas
{
	box-sizing : border-box;
	margin     : 1em 0 0 0;
}
@media (max-width : 991px)
{
	.comment-mail-menu-page-stats .pmp-stats-view th,
	.comment-mail-menu-page-stats .pmp-stats-view td,
	.comment-mail-menu-page-stats .pmp-stats-view input,
	.comment-mail-menu-page-stats .pmp-stats-view .chosen-choices,
	.comment-mail-menu-page-stats .pmp-stats-view button
	{
		display    : block !important;
		text-align : center !important;

		width      : 100% !important;
		max-width  : 100% !important;
	}
	.comment-mail-menu-page-stats .pmp-stats-view .pmp-stats-view-submit
	{
		padding-left : 0 !important;
		margin-top   : 1em !important;
	}
}
